@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


h1, h2, h3, h4, h5, h6, span{
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1{
    font-size: 36px;
}

p {
line-height: 1.5;
font-size: 15px;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

i:hover{
    opacity: 0.7;
}

.link__hover-effect:after{
    content: "";
    position: absolute;
    height: 3px;
    bottom: -3px;
    right: 0;
    background-color: black;
    width: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after{
    content:"";
    width: 100%;
    left: 0;
}

section:nth-child(even){
    background-color: #f8f8f8;
}

.container{
    padding: 50px 0;
}

.section__title{
    margin: bottom 20px; ;
}

/* Navigation Bar */

nav{
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 12px;
}

.nav__link--list{
    display: flex;
}

li{
    list-style-type: none;
}

.flex-1{
    flex: 1;
}

.flex{
    display: flex;
}

.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

.nav__link--anchor{
    margin: 0 12px;
    color: #242424;
    font-weight: 700px;
}

.nav__link--anchor-primary{
    background-color: #6030b1;
    color: white;
    border-radius: 50px;
    padding: 8px 20px;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover{
    background-color: #5d3eff;
}

.personal__logo{
  font-size: 24px;
  color: #6030b1; 
  margin: 0 12px;
  font-weight: bold;
}

/* About Me */

#about-me{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info{
    display: flex;
    flex-direction: column;
}

.about-me__info--container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0 8px 16px rgba (0, 0, 0, 0.16);
    animation: animate-profile-picture 800ms 200ms backwards;
}

@keyframes animate-profile-picture{
    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.about-me__picture{
    width: 100%;
    border-radius: 50%;
    /* Improving the Picture*/
transform: scale(1.5);
padding-top: 8px;
}

.text--purple{
    color: #6030b1;
}

.about-me__info--para{
    padding: 4px;
    font-size: 20px;
   margin-bottom: 28px; 
   animation: fade-up 650ms  400ms backwards;
}

.about-me__info--title{
    margin-bottom: 28px;
    padding-top: 48px;
    animation: fade-up 650ms  600ms backwards;
}

.about-me__link{
    font-size: 20px;
    color:#242424;
    padding: 0 16px;
}

.about-me__links{
    padding-bottom: 24px;
    animation: fade-up 650ms  800ms backwards;
}

@keyframes fade-up{
    0%{
      opacity: 0;
      transform: translateY(40px);  
    }

    100%{
        opacity: 1;
        transformY:(0);
    }
}

.about-me__img--container{
    flex: 1;
    display: flex;
    align-items: center;
}

.about-me__img{
    width: 100%;
    animation: fade-in 1200ms 800ms backwards;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.wave{
    display: inline-block;
    animation: animate-wave 500ms infinite ease-in-out;
}

@keyframes animate-wave{
    0%{
        transform: rotate(0);
    }

    50%{
        transform: rotate(30deg);
    }

    100%{
        transform: rotate(0);
    }
}

/* Tech Stack*/

.language{
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.language__img{
   width: 100%;
   max-width: 100px; 
   transition: all 300ms;
}

.language:hover .language__img{
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language__img--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px 16px;
}

.language__list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.language__name{
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 20px;
    font-weight: bold;
}

.language:hover .language__name{
    transform: scale(1);
}

/* Projects */

.project__img{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: all 500ms ease;
}

.project__wrapper{
    box-shadow: 0 20px 80px rgba(0,0,0,0.45);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    position: relative;
    width: 50%;
    justify-content: center;
}

.project{
    display: flex;
    justify-content: center;
    justify-self: center;
}

.project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    z-index: 2;
    opacity: 0;
    transition: opacity 450ms ease;
}

.project:hover .project__wrapper:before{
    opacity: 0.5;
    transition: all 500ms ease;
}

.project:hover .project__img{
    transform: scale(1.07);
    filter: blur(5px);
}

.project__list{
    padding: 40px;
}

.project__description{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(100%);
    max-width: 550px;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}

.project:hover .project__description{
    opacity: 1;
    transition: all 500ms ease;
    z-index: 3;
    transform: translateY(-50%);
}

.project__description--title, 
.project__description--sub-title, 
.project__description--para, 
.project__description--link{
text-align: left;
color: white;
}

.project__description--title{
    font-size: 40px;
}

.project__description--para{
    margin: 16px 0;
}

.project__description--link{
    font-size: 20px;
    margin-right: 8px;
    text-decoration: none;
}

.project{
    margin-bottom: 135px;
}
.project:last-child{
    margin-bottom: 0;
}

/* Footer */

.footer{
    background-color: #242424;
    position: relative;
}

.footer__row{
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer__social--link{
    padding: 8px;
    color: black;
}

.footer__social--links{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.footer__logo--popper{
    padding: 0 16px;
    justify-self: center;
    align-items: center;
    display: flex;
    top: 15px;
    border-radius: 25px;
    background-color: #1c1d25;
    color: white;
}

@media (max-width: 768px){
    nav{
        height: 68px;
    }

    h1{
        font-size: 28px;
    }

    .about-me__info--para{
        font-size: 18px;
    }
    .language{
        width: calc(100%/2);
    }

    .project__description--para{
        font-size: 14px;
    }

    .project__description{
        left: 36px;
        padding-right: 36px;
    }
}


@media (max-width: 480px){
    .nav__link:not(:last-child){
        display:none;
    }

     .project__description--para{
        display: none;
     }

     .project__description--links{
        display:flex;
        justify-content: center;
     }

     .project__description--sub-title{
        text-align: center;
        margin: 12px 0;
     }

     .project__description--title{
        line-height: 1;
        font-size: 32px;
        text-align: center;
     }

     .project__description{
        padding: 0;
        left: 0;
        width: 100%;
     }
}