@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700;900&display=swap');
*{
   padding: 0;
   font-family: "Inter", sans-serif;
   margin: 0;
   box-sizing: border-box;
   color: #243e63;
}

 html{
      scroll-behavior: smooth;
   }


body{
   overflow-x: hidden;
   max-width: 101vw;
}

.btn__menu{
   border: none;
   background-color: transparent;
   transition: all 300ms ease;
   display: none;
}

.btn__menu:hover{
   background-color: transparent;
}



.menu{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 378px;
   margin: 24px 16px;
   padding: 32px;
   background-color: #fff;
   border: 1px solid rgb(229, 231, 235);
   border-radius: 8px;
   z-index: 100;
   visibility: hidden;
   opacity: 0;
   transform: translateX(300%);
   transition: all 300ms ease;
}

.menu__links{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.menu__link{
   font-size: 20px;
   margin: 12px 0;
   font-weight: 700;
}

.menu--open .menu{
   max-height: 100vh;
   overflow-y: hidden;
   visibility: visible;
   opacity: 1;
   transform: translateX(0);
}

.btn__menu--close{
   position: fixed;
   top:24px;
   right: 18px;
}

section{
   padding: 0 32px;
   width: 100%;
}

.section__title{
   font-size: 48px;
   font-weight: 900;
   padding: 16px 0;
   letter-spacing: 0.025em;
}

.section__para{
   display: flex;
   justify-content: center;
   font-size: 18px;
   padding-bottom: 12px;
   padding-right: 12px;
   align-items: center;
   line-height: 1.5;
}

.section__tag{
   color:#6415ff;
   font-size: 16px;
   font-weight: 700;
   letter-spacing: 1.6px;
   text-transform: uppercase;
}

.container {
    padding: 96px 0;
}

.purple{
    color: #6415ff;
}


main{
    margin-bottom: 96px;
   }

   a{
      display: inline;
      text-decoration: none;
   }

   

   h1{
      padding-bottom: 4px;
      font-size: 48px;
      color: #1a202c;
      line-height: 1.25;
   }

   p{
      line-height: 1.5;
      font-size: 18px;
   }

.btn{
      background-color: #6415ff;
      border-radius: 500px;
      padding: 12px 32px;
      color: #fff;
      font-weight: 700;
   }

   img{
      width: 100%;
   }

   /* 

   Navbar

   */

nav{
   padding-top: 32px;
   display: flex;
}

.row{
   width: 100%;
   max-width: 1280px;
   margin: 0 auto;
}

.nav__row{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   width: 100%;
   align-items: center;
}


.nav__logo{
   display:flex;
   align-items: center;
   margin: 8px 0;
   padding-bottom: 4px;
}

.nav__logo--img{
   width: 40px;
   height: 40px;
}

.nav__logo--title{
   margin-left: 12px;
   font-weight: 900;
   font-size: 24px;
   letter-spacing: 0.6px;
}

.nav__links{
   display: flex;
   align-items: center;
   padding-bottom: 2px;
}

.nav__link{
   margin: 0 24px;
   font-size: 14px;
   font-weight: 600;
}

.nav__link--primary{
   background-color: #6415ff;
   border-radius: 50px;
   padding: 12px 32px;
   color: #fff;
   margin: 0;
   width: auto;
}

.nav__link--primary:hover{
   background-color: #38147f;
   transition: all 300ms ease;
}

.login{
   margin-left: 48px;
}

.btn__menu{
   width: 24px;
   height: 24px;
}


/*

Header

*/

header .row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__description{
   width: 40%;
   display: flex;
   flex-direction: column;
   padding: 8px 12px;
}

.header__description--para{
   margin: 32px 0
}

.header__img{
   max-width: 768px;
   width: 100%;
}

.header__img--wrapper{
   width: 60%;
   display: flex;
   padding: 0 12px;
}

.header__email{
   height:68px;
   justify-content: flex-end;
   display: flex;
   position: relative;
   align-items: center;
   width: auto;
   max-width: 448px;
   width: 100%;
}

.header__email--input{
   border-radius: 500px;
   width: 100%;
   padding: 20px 192px 20px 32px;
   font-size: 16px;
   z-index: 1;
   position: absolute;
   opacity: 0.5;
   top: 0;
   bottom: 0;
}

.header__email--btn{
   z-index: 2;
   height: calc(100% - 16px); 
   width: 160px;
   margin: 8px;
   font-size: 16px;
   border: none;
   border-radius: 50px;
   background-color: #6415ff;
   color: #fff;
}

.customer__title{
   padding: 24px 0 12px 0;
   display: flex;
   justify-content: center;
   color: #a0aec0;
}

button{
   cursor: pointer;
   border: none;
}

button:hover{
 background-color: rgba(60, 13, 153);
   transition: all 300ms ease;
}  

.customers__img{
   opacity: 0.5;
}



/*

Features

*/


#features .row__narrow{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.row__narrow{
   width: 100%;
   max-width: 1024px;
   margin: 0 auto;
}

#features .section__para{
   align-items: center;
   max-width: 576px;
   text-align: center;
}

.section__description{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.services{
   display: flex;
   flex-wrap: wrap;
   padding: 24px;
   align-items: center;
}



.service{
   display: flex;
   width: calc(100% / 3);
   padding: 32px;
}

.service__row{
   display: flex;
   align-items: flex-start;
}

.service__description--title{
   font-weight: bold;
   padding-bottom: 12px;
}

.service__description--para{
   font-size: 16px;
   color: rgb(124, 139, 161);
   line-height: 2;
   font-weight: 500;
}

.service__icon--wrapper{
   display: flex;
   padding: 20px;
}

.service__icon{
   width: 24px;
   height: 24px;
}

/*

Quality

*/

#quality{
   display: flex;
   justify-content: space-around;
}
.quality__row{
   display: flex;
   justify-content: space-between;
   padding: 24px;
   margin-left: 0;
}

.quality__description{
   max-width: 576px;
   margin-right: 64px;
}

.quality__description, .quality__img--wrapper{
   width: 50%;
}

.quality__btn{
   width: 25%;
   height: 40px;
   padding: 12px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.quality__description--title{
   padding: 12px 0;
}

.quality__description--para{
   padding-bottom: 32px
}

.quality__img--wrapper{
   width: 50%;
   padding-top: 22px
}

/*

Steps

*/

.steps__row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.steps__description{
   padding: 32px 0;
   padding-left: 64px;
}

.step__description{
   display: flex;
   flex-direction: column;
   width: 50%;
   padding-left: 24px;
   max-width: 320px;
   line-height: 1.5;
}

.step__number{
   font-size: 28px;
   color: grey;
   font-weight: 500;
}

.step{
   display: flex;
   align-items: flex-start;
   padding: 12px 0;
   justify-content: center;
}

.steps__img--wrapper{
   padding: 16px;
   height: 100%;
   width: 50%;
}

.step__para{
   font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/*

Values

*/

#values .row{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.value__title{
   display: flex;
   align-items: center;
   padding: 12px;
   font-size: 20px
}

.value__para{
   padding: 12px;
   font-size: 16px;
   line-height: 1.5;
   color: #918c8c;
}

.value__name{
   padding: 8px
}

.values__img{
   width:50%;
}

.value:nth-child(1) .value__icon--wrapper{
   background-color: #9ae64b;
}

.value:nth-child(2) .value__icon--wrapper{
   background-color: #feb2b2;
}

.value__icon--wrapper{
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   padding: 12px
}

.values__list{
   display: flex;
   flex-direction: row;
}

.value{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

#values .btn{
   margin-top: 62px;
}

/*

Plans

*/

.pricing__row{
   display: flex;
   flex-direction: column;
}

.plans{
   display: flex;
   background-color: #fff;
   box-shadow: rgba(0,0,0,0.1);
   justify-content: center;
   align-items: center;
}

.plan{
   display: flex;
   flex-direction: column;
   width: calc(100% / 3);
   justify-content: center;
   align-items: center;
   border: solid 8px rgb(0, 0, 0);
   border-radius: 50px;
   padding: 20px 20px;
   margin: 12px;
}

.plan__title{
   font-size: 24px;
   font-weight: 700;
}

.plan__pricing{
   font-size: 64px;
   font-weight: 700;
   padding: 12px 0
}

.plan__frequency{
   font-size: 16px;
   color:grey;
   font-weight: 600;
   padding: 12px 0;
}

.plan__target{
   font-size: 26px;
   padding: 12px 0;
}

.plan__features{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.plan__feature{
   color: grey;
   padding: 12px 0
   
}

.pricing__btn{
   width: 50%;
   color: white;
   border: none;
}

.plan:nth-child(1) .pricing__btn{
   background-color: rgb(67, 194, 194);
}

.plan:nth-child(2) .pricing__btn{
   background-color: rgb(222, 20, 20);
}

.plan:nth-child(3) .pricing__btn{
   background-color: rgb(46, 42, 121);
}

.pricing__btn:hover{
   opacity: 0.5
}

/*

Testimonials

*/

#testimonials .row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.testimonials__description{
   display: flex;
   flex-direction: column;
   width: 50%;
   margin: 12px;
   line-height: 1.5;
}

.testimonials__para{
   line-height: 2;
}

.testimonials__title{
   padding-bottom: 16px;
   font-size: 24px;
}

.testimonials__img{
   width: 50%;
   padding-right:32px;
   margin: 12px
}

.testimonials__profile{
   display: flex;
   align-items: center;
}

.testimonials__bottom{
   display: flex;
   justify-content: space-between;
}

.profile__img--wrapper{
   padding: 24px;
}

.profile__img{
   width: 80px;
   height: 80px;
   border-radius: 50%;
}

.testimonials__buttons{
   display: flex;
   align-items: center;
   justify-content: center;
}


.testimonial__button{
   background-color: #edf2f7;
   border: none;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   margin: 16px;
}

.testimonial__button:hover{
   background-color:#454242
}

.testimonials__rating{
   display: flex;
   align-items: center;
   justify-content: start;
   margin-left: 0;
   margin-right: 12px;
   margin-bottom: 12px;
}

.rating{
   color: #f2b91dfb;
   display: flex;
   margin-right: 4px;
}


/*

Start

*/

.start__container{
   width: 100%;
   background-color: #6415ff;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 96px 0;
   border-radius: 8px;
}

.start__row{
   width: 100%;
   display: flex;
   justify-content: space-between;
   justify-content: center;
   align-items: center;
   max-width: 1024px;
}

.start__title, .start__buttons{
   width: 50%;
}

.start__title{
   color: #fff;
   padding: 12px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 32px;
   font-weight: 700;
   margin-left: 16px;
}

.start__buttons{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.start__button{
   color: #fff;
   border-radius: 50px;
   margin: 12px;
   height: 70px;
   width: 170px;
   transition: all 300ms ease;
   font-weight: 700;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}

.start__button:nth-child(1){
  background-color: #f56565;
}

.start__button:hover:nth-child(1){
  background-color: #d33838;
}

.start__button:nth-child(2){
  border: solid 1px #a9beda;
}

.start__button:hover:nth-child(2){
   background-color: rgba(247, 250, 252);
   color: #6415ff;
}

/*

Footer

*/

footer{
   background-color: #6415ff;
   padding: 96px 32px;
}

.footer__columns{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.footer__column{
   display: flex;
   flex-direction: column;
   width: calc(100% / 5);
   justify-content: space-between;
   align-items: center;
   text-align: center;
   margin-top: 62px;
}

.footer__column--title{
   color:#fff;
   margin-bottom: 12px;
   font-weight: 700;
}

.column__link{
   color: #fff;
   line-height: 2;
}

.footer__bottom{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer__divider{
   width: 100%;
   background-color: #5a31aa;
   margin: 64px 0;
   height: 2px;
}

.footer__logo{
   display: flex;
   align-items: center;
}

.footer__logo--title{
   color: #fff;
   padding: 12px;
   font-size: 24px;
}

.footer__logo--img{
   width: 40px;
   height: 40px;
   background-color: #fff;
}
.footer__copyright{
   color: #fff;
}

.footer__socials{
   display: flex;
   flex-direction: row;
}

.footer__social--wrapper{
   background-color: #fff;
   padding: 8px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 8px;
}

/*

Phones, Tablets, etc

*/

@media(max-width: 1024px){

   body{
      max-width: 100vw;
      overflow-x: hidden;
   }

   .menu--open{
      max-height: 100vw;
      overflow-y: hidden;
   }

   .row{
      flex-direction: column;
   }

   h1{
      font-size: 30px;
   }

   .container{
      padding: 80px 0;
   }

   .header .row{
      align-items: center;
      flex-direction: column;
   }

   .nav__links{
      display: none;
   }


   .header__description{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      max-width: 512px;
      margin: 0 auto;
   }

   .header__description--para{
      font-size: 16px;
      margin: 20px 0;
   }

   .header__email{
      flex-direction: column;
      height: auto;
   }

   .header__email--input{
      position: static;
      padding: 16px 0;
      padding-left: 32px;
      line-height: 1.5;
   }

   .header__email--btn{
      width: 100%;
      padding: 16px 0;
   }

   .headers__customers--title{
      font-size: 14px;
   }

   .customers__img{
      width: 100%
   }

   .header__img--wrapper{
      width: 100%;
      margin-top: 12px;
   }

   .header__img{
      width: 100%;
      max-width: 512px;
   }

   #features .section__title,
   #pricing .section__title{
      font-size: 30px;
      text-align: center;
   }

   .section__tag{
      margin-top: 32px
   }

   .section__title{
      line-height: 1.5;
      font-size: 30px;
   }

   .section__para{
      max-width: 576px;
      text-align: center;
      color: #918c8c;
      font-weight: 600;
   }

   .service{
      width: auto;
   }

   .service__row{
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   .quality__row, #values .row{
      flex-direction: column-reverse;
   }
   
   .quality__description, .quality__img--wrapper{
      width: 100%;
      max-width: 448px;
   }

   .quality__description{
      text-align: center;
   }

   #steps .row{
      flex-direction: column;
   }

   #steps .section__title{
      margin: 16px 0 0 0;
   }

   .steps__description{
      width: 100%;
      max-width: 448px;
      padding: 0;
      text-align: center;
   }

   .step__description{ 
      margin-left: 0;
      margin-top: 12px;
      padding: 0;
   }

   .steps__img--wrapper{
      width: 100%;
   }

   .step{
      flex-direction: column;
      align-items: center;
   }

   .step__title{
      margin-top: 20px;
   }

   .values__list{
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      max-width: 20rem;
   }

   .values__img{
      width: 100%;
      max-width: 448px;
   }

   .values__description{
      width: 100%;
      max-width: 448px;
      padding: 0;
      text-align: center;
   }

   .value{
      align-items: center;
   }

   .value:nth-of-type(1){
      margin-right:0;
   }

   .plans{
      flex-direction: column;
      width: 100%;
      max-width: 448px;
   }

   .plan{
      width: 100%;
      max-width: 448px;
   }

   .testimonials__img{
      width: 100%;
   }

   .testimonials__description{
      width: 100%;
      align-items: center;
   }

   .testimonials__rating{
      align-items: center;
      justify-content: center;
      margin: 24px 0 24px 0;
   }

   .testimonials{
      align-items: center;
   }

   .testimonials__bottom{
      flex-direction: column;
   }

   .start__container{
      padding: 80px 0;
   }

   .start__row{
      flex-direction: column;
      text-align: center;
   }

   .start__buttons{
      flex-direction: column;
   }

   .footer__columns{
      justify-content: center;
   }

   .footer__column{
      width: auto;
      padding: 0 16px;
      text-align: center;
      align-items: center;
   }

   .footer__bottom{
      flex-direction: column;
   }
   .footer__logo{
      margin: 20px 0 20px 0;
   }

   .footer__socials{
      transform: scale(0.7);
   }

   .footer__copyright{
      margin-bottom: 20px;
   }

   .btn__menu{
      display: block;
   }

}

@media(max-width: 468px){
   
   body{
      max-width: 100vw;
      overflow-x: hidden;
   }

   .menu--open{
      max-height: 100vw;
      overflow-y: hidden;
   }

   .row{
      flex-direction: column;
   }

   h1{
      font-size: 30px;
   }

   .container{
      padding: 80px 0;
   }

   .header .row{
      align-items: center;
      flex-direction: column;
   }

   .nav__links{
      display: none;
   }


   .header__description{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      max-width: 512px;
      margin: 0 auto;
   }

   .header__description--para{
      font-size: 16px;
      margin: 20px 0;
   }

   .header__email{
      flex-direction: column;
      height: auto;
   }

   .header__email--input{
      position: static;
      padding: 16px 0;
      padding-left: 32px;
      line-height: 1.5;
   }

   .header__email--btn{
      width: 100%;
      padding: 16px 0;
   }

   .headers__customers--title{
      font-size: 14px;
   }

   .customers__img{
      width: 100%
   }

   .header__img--wrapper{
      width: 100%;
      margin-top: 12px;
   }

   .header__img{
      width: 100%;
      max-width: 512px;
   }

   #features .section__title,
   #pricing .section__title{
      font-size: 30px;
      text-align: center;
   }

   .section__tag{
      margin-top: 32px
   }

   .section__title{
      line-height: 1.5;
      font-size: 30px;
   }

   .section__para{
      max-width: 576px;
      text-align: center;
      color: #918c8c;
      font-weight: 600;
   }

   .service{
      width: auto;
   }

   .service__row{
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   .quality__row, #values .row{
      flex-direction: column-reverse;
   }
   
   .quality__description, .quality__img--wrapper{
      width: 100%;
      max-width: 448px;
   }

   .quality__description{
      text-align: center;
   }

   #steps .row{
      flex-direction: column;
   }

   #steps .section__title{
      margin: 16px 0 0 0;
   }

   .steps__description{
      width: 100%;
      max-width: 448px;
      padding: 0;
      text-align: center;
   }

   .step__description{ 
      margin-left: 0;
      margin-top: 12px;
      padding: 0;
   }

   .steps__img--wrapper{
      width: 100%;
   }

   .step{
      flex-direction: column;
      align-items: center;
   }

   .step__title{
      margin-top: 20px;
   }

   .values__list{
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      max-width: 20rem;
   }

   .values__img{
      width: 100%;
      max-width: 448px;
   }

   .values__description{
      width: 100%;
      max-width: 448px;
      padding: 0;
      text-align: center;
   }

   .value{
      align-items: center;
   }

   .value:nth-of-type(1){
      margin-right:0;
   }

   .plans{
      flex-direction: column;
      width: 100%;
      max-width: 448px;
   }

   .plan{
      width: 100%;
      max-width: 448px;
   }

   .testimonials__img{
      width: 100%;
   }

   .testimonials__description{
      width: 100%;
      align-items: center;
   }

   .testimonials__rating{
      align-items: center;
      justify-content: center;
      margin: 24px 0 24px 0;
   }

   .testimonials{
      align-items: center;
   }

   .testimonials__bottom{
      flex-direction: column;
   }

   .start__container{
      padding: 80px 0;
   }

   .start__row{
      flex-direction: column;
      text-align: center;
   }

   .start__buttons{
      flex-direction: column;
   }

   .footer__columns{
      justify-content: center;
   }

   .footer__column{
      width: auto;
      padding: 0 16px;
      text-align: center;
      align-items: center;
   }

   .footer__bottom{
      flex-direction: column;
   }
   .footer__logo{
      margin: 20px 0 20px 0;
   }

   .footer__socials{
      transform: scale(0.7);
   }

   .footer__copyright{
      margin-bottom: 20px;
   }

   .btn__menu{
      display: block;
   }

}