@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700;900&display=swap');
*{
   padding: 0;
   font-family: "Inter", sans-serif;
   margin: 0;
   box-sizing: border-box;
   color: #243e63;
}


body{
   overflow-x: hidden;
   max-width: 101vw;
}

section{
   padding: 0 32px;
   width: 100%;
}

.section__title{
   font-size: 48px;
   font-weight: 900;
   padding: 16px 0
}

.section__para{
   display: flex;
   justify-content: center;
   font-size: 18px;
   padding-bottom: 12px;
   padding-right: 12px;
   align-items: center;
}

.section__tag{
   color:#6415ff;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}


main {
    margin-bottom: 96px;
   }

   a{
      text-decoration: none;
      transition: all 300ms ease;
   }

   h1{
      padding-bottom: 4px;
      font-size: 40px;
   }

   p{
      line-height: 1.5;
      font-size: 20px;
   }

   html{
      scroll-behavior: smooth;
   }
   /* 

   Navbar

   */

nav{
   padding-top: 32px;
   display: flex;
}

.row{
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}

.nav__row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.nav__logo{
   display:flex;
   align-items: center;
   margin: 8px 0;
   padding-bottom: 4px;
}

.nav__logo--img{
   width: 40px;
   height: 40px;
}

.nav__logo--title{
   margin-left: 12px;
   font-weight: 900;
   font-size: 24px;
   letter-spacing: 0.6px;
}

.nav__links{
   display: flex;
   align-items: center;
}

.nav__link{
   padding: 24px;
   font-size: 14px;
   font-weight: 600;
}

.nav__link--primary{
   background-color: #6415ff;
   border-radius: 50px;
   padding: 12px 20px;
   color: #fff;
}

.login{
   margin-left: 12px
}


/*

Header

*/

header .row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__description{
   width: 40%;
   display: flex;
   flex-direction: column;
   padding: 8px 12px;
}

.header__description--para{
   padding: 12px;
}

.header__img{
   max-width: 768px;
   width: 100%;
}

.header__img--wrapper{
   width: 60%;
   display: flex;
   padding: 0 12px;
}

.header__email{
   height:68px;
   justify-content: flex-end;
   display: flex;
   position:relative ;
   align-items: center;
   padding-top: 12px;
}

.header__email--input{
   border-radius: 500px;
   width: 100%;
   display: flex;
   align-items: center;
   padding: 20px 192px 20px 32px;
   font-size: 24px;
   z-index: 1;
   position: absolute;
   opacity: 0.5;
}

.customer__title{
   padding: 24px;
   display: flex;
   justify-content: center;
}

button{
   cursor: pointer;
   background-color: #6415ff;
   color: #fff;
   border-radius: 500px;
   font-size: 16px;
   font-weight: 500;
   padding: 8px;
   width: 10%;
   display: flex;
   align-items: center;
   justify-content: center;
}

button:hover{
 background-color: rgba(60, 13, 153);
   transition: all 300ms ease;
}  

.btn{
   width: 25%;
   height: 40px;
   padding: 12px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.header__e-mail--btn{
   z-index: 2;
   height: calc(100% - 4px); 
   width: 140px;
   margin: 8px;
   font-size: 16px;
   border: none;
}

/*

Features

*/


#features .row__narrow{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.row__narrow{
   width: 100%;
   max-width: 1024px;
   margin: 0 auto;
}

.section__description{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.services{
   display: flex;
   flex-wrap: wrap;
   padding: 24px;
   align-items: center;
}



.service{
   display: flex;
   width: calc(100% / 3);
   padding: 32px;
}

.service__row{
   display: flex;
   align-items: flex-start;
}

.service__description--title{
   font-weight: bold;
   padding-bottom: 12px;
}

.service__description--para{
   font-size: 16px;
   color: rgb(124, 139, 161);
}

.service__icon--wrapper{
   display: flex;
   padding: 20px;
}

.service__icon{
   width: 24px;
   height: 24px;
}

/*

Quality

*/
.quality__row{
   display: flex;
   padding: 12px;
   margin-left: 0;
}

.quality__description{
   display: flex;
   flex-direction: column;
   width: 50%;
   position: relative;
   margin: 12px;
}

.quality__btn{
   width: 25%;
   height: 40px;
   padding: 12px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.quality__description--title{
   padding: 12px 0;
}

.quality__description--para{
   padding-bottom: 32px
}

.quality__img--wrapper{
   width: 50%;
   padding-top: 22px
}

/*

Steps

*/

.steps__row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.steps__description{
   padding: 32px 0;
   padding-left: 64px;
}

.step__description{
   display: flex;
   flex-direction: column;
   width: 50%;
   padding-left: 24px;
}

.step__number{
   font-size: 28px;
   color: grey;
   font-weight: 500;
}

.step{
   display: flex;
   align-items: center;
   padding: 12px 0
}

.steps__img--wrapper{
   padding: 16px;
   height: 100%;
}

.steps__img{
   width: 50%;
}

/*

Values

*/

#values{
   display: flex;
}

#values .row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.value__title{
   display: flex;
   align-items: center;
   padding: 12px;
   font-size: 20px
}

.value__para{
   padding: 12px;
   font-size: 16px;
}

.value__name{
   padding: 8px
}

.values__img{
   width:50%;
}

.value:nth-child(1) .value__icon--wrapper{
   background-color: #9ae64b;
}

.value:nth-child(2) .value__icon--wrapper{
   background-color: #feb2b2;
}

.value__icon--wrapper{
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   padding: 12px
}

.values__list{
   display: flex;
   flex-direction: row;
}

/*

Plans

*/

.pricing__row{
   display: flex;
   flex-direction: column;
}

.plans{
   display: flex;
   background-color: #fff;
   box-shadow: rgba(0,0,0,0.1);
   justify-content: center;
   align-items: center;
}

.plan{
   display: flex;
   flex-direction: column;
   width: calc(100% / 3);
   justify-content: center;
   align-items: center;
   border: solid 8px rgb(0, 0, 0);
   border-radius: 50px;
   padding: 20px 20px;
   margin: 12px;
}

.plan__title{
   font-size: 24px;
   font-weight: 700;
}

.plan__pricing{
   font-size: 64px;
   font-weight: 700;
   padding: 12px 0
}

.plan__frequency{
   font-size: 16px;
   color:grey;
   font-weight: 600;
   padding: 12px 0;
}

.plan__target{
   font-size: 26px;
   padding: 12px 0;
}

.plan__features{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.plan__feature{
   color: grey;
   padding: 12px 0
   
}

.pricing__btn{
   width: 50%;
   color: white;
   border: none;
}

.plan:nth-child(1) .pricing__btn{
   background-color: rgb(67, 194, 194);
}

.plan:nth-child(2) .pricing__btn{
   background-color: rgb(222, 20, 20);
}

.plan:nth-child(3) .pricing__btn{
   background-color: rgb(46, 42, 121);
}

.pricing__btn:hover{
   opacity: 0.5
}

/*

Testimonials

*/

#testimonials .row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.testimonials__description{
   display: flex;
   flex-direction: column;
   width: 50%;
   margin: 12px
}

.testimonials__title{
   padding: 16px 0;
   font-size: 24px
}

.testimonials__img{
   width: 50%;
   padding-right:32px;
   margin: 12px
}

.testimonials__profile{
   display: flex;
   align-items: center;
}

.testimonials__bottom{
   display: flex;
   justify-content: space-between;
}

.profile__img--wrapper{
   padding: 24px;
}

.profile__img{
   width: 80px;
   height: 80px;
   border-radius: 50%;
}

.testimonials__buttons{
   display: flex;
   align-items: center;
   justify-content: center;
}


.testimonial__button{
   background-color: #edf2f7;
   border: none;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   margin: 16px;
}

.testimonial__button:hover{
   background-color:#454242
}

.testimonials__rating{
   display: flex;
   align-items: center;
   padding: 12px 0;
}

.rating{
   padding: 0 15px;
   color: #d69915b8;
}


/*

Start

*/

.start__container{
   width: 100%;
   background-color: #6415ff;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 96px 0;
   border-radius: 8px;
}

.start__row{
   width: 100%;
   display: flex;
   justify-content: space-between;
   justify-content: center;
   align-items: center;
   padding: 0 32px;
   max-width: 1024px;
}

.start__title, .start__buttons{
   width: 50%;
}

.start__title{
   color: #fff;
   padding: 12px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 32px;
   font-weight: 700;
}

.start__buttons{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.start__button{
   color: #fff;
   border-radius: 50px;
   margin: 12px;
   height: 70px;
   width: 170px;
   transition: all 300ms ease;
   font-weight: 700;
   cursor: pointer;
}

.start__button:nth-child(1){
  background-color: #f56565;
}

.start__button:hover:nth-child(1){
  background-color: #d33838;
}

.start__button:nth-child(2){
  border: solid 1px #a9beda;
}

.start__button:hover:nth-child(2){
   background-color: rgba(247, 250, 252);
   color: #6415ff;
}

/*

Footer

*/

footer{
   background-color: #6415ff;
   padding: 96px 32px;
}

.footer__columns{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.footer__column{
   display: flex;
   flex-direction: column;
   width: calc(100% / 5);
   justify-content: space-between;
   align-items: center;
}

.footer__column--title{
   color:#fff;
}

.column__link{
   color: #fff;
}

.footer__bottom{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer__divider{
   width: 100%;
   background-color: #5a31aa;
   margin: 64px 0;
   height: 2px;
}

.footer__logo{
   display: flex;
   align-items: center;
}

.footer__logo--title{
   color: #fff;
   padding: 12px;
   font-size: 24px;
}

.footer__logo--img{
   width: 40px;
   height: 40px;
   background-color: #fff;
}
.footer__copyright{
   color: #fff;
}

.footer__socials{
   display: flex;
   flex-direction: row;
}

.footer__social--wrapper{
   background-color: #fff;
   padding: 8px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 8px;
}

.footer__social__link{
   text-decoration: none;
}