@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

nav{
    height: 80px;
    display: flex;
}

img{
   width: 100%; 
   height: 100%;
   max-height: 50vh;
   padding: 20px;
}

.nav__container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 0 24px;
}

.logo{
    width: 160px;
}

.purple{
    color: purple;
}

ul{
    display: flex;
}

li{
    list-style: none;
}

.nav__link{
    margin-left:16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 8px;
}

.nav__link:hover{
    text-decoration: underline;
}

.nav__link--primary{
    border: 2px solid purple;
    border-radius: 4px;
}

.nav__link--primary:hover{
    text-decoration: none;
}

#landing{
    background-color: rgba(115, 66, 214, 0.1);
}

header{
    height: calc(100vh - 80px);
}

.header__container{
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description{
    display: flex;
    align-items: center;
    flex-direction: column;
}

p{
    line-height: 1.5;
}

h1{
    font-size: 50px;
    color: purple;
    margin-bottom: 24px;
    text-align: center; 
}

h2{
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center; 
}

button{
    cursor: pointer;
}

button:active{
    transform: translateY(1px);
}

button:hover{
    opacity: 0.9;
}

.btn{
    background-color: purple;
    color: white;
    padding:12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.header__img--wrapper{
    padding: 20px;
    z-index: 2;
}

.container{
    padding: 56px 0;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Highlights */

#highlights{
    position: relative;
}


#highlights:before{
    content:"";
    background:url('E-Commerce/E-Commerce Assets/assets/wave.svg');
    position: absolute;
    width: 101vw;
    height: 12vw;
    top: 1px;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-100%);
}

#highlights:after{
    content:"";
    background:url('E-Commerce/E-Commerce Assets/assets/wave.svg');
    position: absolute;
    width: 101vw;
    height: 12vw;
    bottom: 1px;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(100%) rotate(180deg);
}

.highlight__wrapper{
    display: flex;
}

.highlight{
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.highlight__para{
    text-align: center;
    font-weight: 400;
    max-width: 280px;
}

.highlight__img{
    border: 2px solid #8c63df;
    color: #5602fe;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
}

.highlight__subtitle{
    font-size: 20px;
    margin-bottom: 16px;
}

/* 

Features

*/

#features{
    background-color: rgba(115, 66, 214, 0.1);
    height: 1000px;
}