@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}

nav{
    height: 80px;
    display: flex;
}

img{
   width: 100%; 
   height: 100%;
   max-height: 50vh;
   padding: 20px;
}

.nav__container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 0 24px;
}

.logo{
    width: 160px;
}

.purple{
    color: purple;
}

ul{
    display: flex;
}

li{
    list-style: none;
}

.nav__link{
    margin-left:16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 8px;
}

.nav__link:hover{
    text-decoration: underline;
}

.nav__link--primary{
    border: 2px solid purple;
    border-radius: 4px;
}

.nav__link--primary:hover{
    text-decoration: none;
}

#landing{
    background-color: rgba(115, 66, 214, 0.1);
}

header{
    height: calc(100vh - 80px);
}

.header__container{
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 50px;
    color: purple;
    margin-bottom: 24px;
    text-align: center; 
}

h2{
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center; 
}

button{
    cursor: pointer;
}

button:active{
    transform: translateY(1px);
}

button:hover{
    opacity: 0.9;
}

.btn{
    background-color: purple;
    color: white;
    padding:12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.header__img--wrapper{
    padding: 20px;
}

/* Highlights */